h1 {
    text-align: center;
    font-size: 12rem;
}

.ulStyle {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    list-style: none;
}

.btnDiv {
    display: flex;
    justify-content: center;
}

#botao {
    border: none;
    background-color: #c967d3;
    padding: 30px;
    border-radius: 5px;
    border-bottom: 4px solid #232222;
    font-size: 2rem;
    letter-spacing: 5px;
    position: relative;
    cursor: pointer;
    margin-bottom: 80px;
 
}

#botao:active {
    background-color: #8b3596;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.392);
    transition: 0.1s;
}


#botao::before {
    content: "";
    height: 10px;
    width: 60px;
    border-radius: 0px 0px 5px 5px;
    background-color: #232222;
    position: absolute;
    top: 0;
}

span {
    position: relative;
}

span::after {
    content: "";
    width: 180px;
    height: 15px;
    display: block;
    background-color: red;
    position: absolute;
    left: 10px;
    top: 0;
}

.ulStyle li {
    border-bottom: 4px solid #c967d3;
    text-indent: 30px;
    background-color: #ddd;
    padding: 20px;
    font-family: sans-serif;
    line-height: 1.5;
    letter-spacing: .5px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.309);
    position: relative;
    text-transform: capitalize;
}

.ulStyle li::before {
    content: "Conteudo: ";
    font-weight: bold;
}


.ulStyle li::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #eb4c02;
    height: 10px;
    width: 40px;
    top: 0;
    border-radius: 0px 0px 5px 5px;
}